@import "tailwindcss";

@font-face {
  font-family: "Beretta";
  src: url("/assets/fonts/Beretta.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ozik";
  src: url("/assets/fonts/Ozik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPPangaia";
  src: url("/assets/fonts/PPPangaia-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPPangaia";
  src: url("/assets/fonts/PPPangaia-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raster";
  src: url("/assets/fonts/Raster.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-display: "Beretta", sans-serif;
  --font-body: "PPPangaia", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Beretta", sans-serif;
  --font-body: "PPPangaia", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "PPPangaia", Arial, Helvetica, sans-serif;
}
